

body {
    background-color: rgb(245, 240, 240);
    padding: 80px 0 0 0;
    position: relative;
}
body,input,button {
    font-family: 'Roboto', sans-serif;    
}

#myHeader {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(38, 152, 228);
    box-shadow: 0px 2px 4px rgba(44, 62, 88, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 1.5em;
    z-index: 5;
    
}

#input-add-btn{
    position: relative;
}

 #itemInput{


    margin-left: 1em;
    margin-right: 2em;
    width: 60%;
    height: 2em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border:0px;
    text-indent: 1.5em;
    padding-right:2em;
    color:#fff;
    box-shadow: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none; 
    position: fixed;
    
 }

header input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}

header input::-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.75);
}

#add-btn{
    width: 2.5em;
    height: 2.5em;
    border-radius:2em; 
    position: fixed;
    right: 0.2em;
    background:#fff;
    box-shadow: none;
    outline:none; 
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
} 

.tasks-heading{
    font-style: oblique;
    font-style: italic;
    text-indent: 3em;
}

#completed-task {
    margin-top: 3em;
}

ul{
    list-style: none;
    position: relative;
}

li {
    
    width: 80%;
    height:2em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(207, 163, 233);
    padding: 14px 10px 14px 14px;
    position: relative;
    margin: 0.5em;
}
.edit {
    position: absolute;
    right: 5em;
    width: 2.5em;
    height: 2.5em;
    top: 0.9em;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
    cursor: hand;
    outline: none;
    background: none;  
}

.edit svg {
    outline: none;
    fill: rgb(207, 199, 199);
}

:hover.edit svg {
    fill:rgb(66, 27, 240);
}
    

.remove{
    width: 3em;
    height: 3em;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: 0px;
    outline: none;
    cursor: pointer; 
    position: absolute; 
    right: 2.5em;
    top: 0.5em;
} 
.fill {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    margin: -11px 0 0 -11px;
    outline: none;
} 

.fill{
    fill:  #c0cecb;
 }
 
 :hover.fill{
     fill:rgb(236, 92, 92);
 }

 :hover.tick {
    fill: white;
    background: yellowgreen;
}

.fill, .tick{
    transition: fill 0.2s ease;
    -webkit-transition: fill 0.2s ease;
    -moz-transition: fill 0.2s ease;
}

.complete {
    width: 3em;
    height: 3em;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: 0px;
    outline: none;
    cursor: pointer; 
    position: absolute; 
    right: 0.2em;
    top: 0.3em;
}

.tick {
    fill: rgb(166, 221, 166);
    border-radius: 18px;
    border: 1.5px solid #c0cecb;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top:27%;
    right:0.5em; 
    outline: none;
    cursor: pointer;
    border-radius: 18px;
    border: 1.5px solid #c0cecb;  
}


li:last-of-type{
    margin-bottom: 0;
}  

#completed li:last-of-type{
    margin-bottom: 7.5em;
}  


#completed li .buttons button.complete svg{
    background: yellowgreen;
    border: 0px;
    fill: white;
} 

   #completed:not(:empty){
    position: relative;
    padding: 0 0 0 0; 
}  

#completed{
    margin-left: 2.2em;
    margin-bottom: 7em;
} 

.clearList {
    display: none;
}

#my-footer{
    width: 100%;
    height: 8%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgb(38, 152, 228);
    box-shadow: 0px 2px 4px rgba(44, 62, 88, 0.15);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 1.5em;
    z-index: 5;
    text-align: center;
}